In [1]:
import pandas as pd
pd.read_csv("data/train.csv")

         Unnamed: 0    member1    member2  weight
0                 0  198737924  220654721       1
1                 1  198737924  208201738       1
2                 2  198737924   88664332       1
3                 3  198737924    8640526       1
4                 4  198737924   56356372       1
...             ...        ...        ...     ...
1176363     1176363  156270502  194117564       1
1176364     1176364  238813096  221609952       1
1176365     1176365  198016947    4128698       1
1176366     1176366  226525108  207028216       1
1176367     1176367    4128698   29720532       1

[1176368 rows x 4 columns]